.header__container {
    margin: 24px 0px 0px 0px;
    display: flex;
    min-height: 32px;
    align-items: center;
    gap: 50px;
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.header__menu {
    display: flex;
    padding-right: 50px;
    gap: 38px;
    justify-content: end;
    width: 70%;
}

.header__menu a:hover {
    color: #000;
    transition: 0.5s;
}

.login__link {
    margin-right: auto;
}

.menu__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #73738D;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 118px;
    height: 32px;
    border: 1px solid #1943EF;
    border-radius: 34px;
    margin-left: auto;
}

.header__button:hover {
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    background-color: #1943EF;
}

.header__button__link {
    width: 118px;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #1943EF;
}

.header__button:hover .header__button__link {
    color: #fff;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }

    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }

    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }

    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }

    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}